.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
    font-size: 12px;
    background: blue url(img/background-page.jpg);
    background-size: cover;
}

.clock {
    position: relative;
    width: 28.3em;
    height: 28.3em;
    border: 20px solid white;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgb(0 0 0 / 10%), inset 0 0 0 3px #efefef, inset 0 0 10px black, 0 0 10px rgb(0 0 0 / 20%);
}

.clock__hand {
    position: absolute;
    top: 50%;
    left: 20px;
    width: calc(50% - 20px);
    height: 6px;
    background: black;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all .5s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}